<div class = "container">
  <h1> Fanfic Addition Form</h1>
  <form #adding="ngForm" (ngSubmit)="postData(adding)">
    <div class = "form-group">
      <label for="name">Fanfic Title</label><br>
      <input #nameAlert = "ngModel" required minlength="2" type="text" name="name" class="form-control" ngModel>
      <div *ngIf = "nameAlert.touched && nameAlert.invalid" class="alert alert-danger">Fanfic name is empty or too short
      </div>
    </div>

    <div class = "form-group">
      <label for="author">Author</label><br>
      <input #authorAlert="ngModel" required minlength="2" type="text" name="author" class="form-control" ngModel value="author">
      <div *ngIf = "authorAlert.touched && authorAlert.invalid" class="alert alert-danger">Author is empty or too short</div>
    </div>

    <div class = "form-group">
      <label for="genre">Genre</label><br>
      <input #genreAlert = "ngModel" required minlength="2" type="text" name="genre" class="form-control" ngModel value="genre">
      <div *ngIf = "genreAlert.touched && genreAlert.invalid" class="alert alert-danger">Genre is empty</div>
    </div>

    <div class = "form-group">
      <label for="fandom">Fandom</label><br>
      <input #fandomAlert="ngModel" required minlength="2" type="text" name="fandom" class="form-control" ngModel value="fandom">
      <div *ngIf = "fandomAlert.touched && fandomAlert.invalid" class="alert alert-danger">Is empty</div>
    </div>

    <div class = "form-group">
      <label for="picUrl">Picture URL</label><br>
      <input #picUrl="ngModel" required minlength="2" type="text" name="picUrl" class="form-control" ngModel value="picUrl">

      <div *ngIf = "picUrl.touched && picUrl.invalid" class="alert alert-danger">Is empty</div>
    </div>

    <div class = "form-group">
      <label for="text">Text</label><br>
      <input #textAlert="ngModel" required minlength="2" type="text" name="text" class="form-control" ngModel value="text">
      <div *ngIf = "textAlert.touched && textAlert.invalid" class="alert alert-danger">Is empty</div>
    </div>
    <button class = "btn btn-primary" type="submit">Submit</button>
  </form>
</div>


<div id="direct_upload" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">
  <h1>Upload photo</h1>
  <h2>File name is optional, we can use original one</h2>
  <p>Drop your image here,</p>
  <form>
    <div class="form_line">
      <label path="title">Image name:</label>
      <div class="form_controls">
        <input type="text" class="form-control" #title placeholder="Title" (keyup.enter)="updateTitle(title.value)" (blur)="updateTitle(title.value)"
        />
      </div>
    </div>
    <div class="form_line">
      <label>Image:</label>
      <div class="form_controls">
        <div class="upload_button_holder">
          <label class="upload_button" for="fileupload">Upload</label>
          <!-- onChange hanlder resets the input value to get the change event when uploading the same file consecutively -->
          <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader" (change)="fileInput.value=''"
                 multiple />
        </div>

      </div>
    </div>
  </form>
  <h2>Here will be status of your upload</h2>
  <div class="file" *ngFor="let response of responses; let i = index">
    <h3>{{response.file.name}}</h3>
    <button class="delete-image" *ngIf="!!response.data.delete_token" (click)="deleteImage(response.data, i)">Delete image</button>
    <div class="status">
      Uploading... {{response.progress}}%
      <div *ngIf="!response.status">In progress</div>
      <div class="status-code" *ngIf="response.status">Upload completed with status code {{response.status}}</div>
    </div>
    <div class="progress-bar">
      <div class="progress" role="progressbar" [style.width.%]="response.progress"></div>
    </div>
    <div class="form_line">
    </div>
    <div class="info">
      <p class="fanfic-header-genre">
        <span>{{response.data.url}}</span>
      </p>
    </div>
  </div>
</div>



